.loading
  overlay(white, .75)
  z-index 1000
  transition .2s
  opacity 1

  &.hiddenLoader
    z-index -1
    opacity 0
    .loading-content
      opacity 0

  .loading-content
    position absolute
    top 45%
    right 50%
    transform translate(0, -50%)
    opacity 1
    transition .2s

  .loading-text
    color $primary-transparent
    font-size 2em
    text-align center
    font-family 'Lato'
    font-weight 200
    text-transform uppercase

  .loading-spinner
    margin 0 auto 10px auto
    display block
    animate(3s)
    background url(/images/spinner.svg)
    font-size 3em
    height 90px
    width 100px

  &.small
    .loading-spinner
      height 75px
      width 75px
    .loading-text
      font-size 1.5em
