#sidebar
  overflow visible

.sidebar
  box-shadow none
  width $sidebar-width + $sidebar-tabs-width
  .logo
    width 85%
    margin 20px auto
    color $primary
    font-size 3em
    font-weight bold
    line-height 1em
  .logo::after
    display block
    content ""
    width 100%
    height 10px
    background-color $primary-light
    border-radius 50%
.sidebar-pane
  display block
  width $sidebar-width + 5px

.sidebar-pane-content
  padding 0 35px 35px
  font-size 1em
  font-weight 400
  color $dd-gray

.sidebar-content
  background $whiteBG

.sidebar-main
  .sidebar-tabs
    border-left 3px solid darken($primary,10%)

.sidebar-tabs
  width 55px
  background $primary-transparent
  opacity 1
  &.right
    background linear-gradient(to right, rgba(255,0,0,0) 75% , $primary-transparent 25%)

#sidebar-plus-button
#sidebar-minus-button
  color white
  padding-top 8px
  padding-bottom 8px

.fa-white
  font-size 2em
  color white

.sidebar-zoom-in
  position absolute
  bottom 40px
  left 60px
  overflow hidden
  background $primary-transparent

.sidebar-zoom-out
  position absolute
  bottom 5px
  left 60px
  overflow hidden
  background $primary-transparent

.sidebar-zoom-out:hover
.sidebar-zoom-in:hover
  background $primary-transparent
  opacity .75

.sidebar-footer
  background alpha($l-gray, 95%)
  border-top 3px solid $border-gray

.tabs
  display flex
  align-items stretch
  justify-content space-around
  margin 0 -35px 20px -35px
  border-top 2px solid $primary
  border-bottom 2px solid $primary
  li
    flex 1
    display flex
    align-items center
    margin 0
    text-align center
    border-right 1px solid $primary
    &:hover
    &:focus
      background lighten($primary, 90%)
    &:last-of-type
      border 0
    &.active
      background $primary
      a
        color white
        &:hover
        &:focus
          background $primary
  a
    flex 1
    margin 0
    color $body-text
    padding 1em
    &:focus
    &:hover
      box-shadow none
      outline 0
      background lighten($primary, 90%)
      text-decoration none
  span
    letter-spacing .03em
  .tab--label
    font-weight bold
    font-size 1em
  .tab--sub-label
    display block
    font-size .85em

.additional-info
  background lighten($primary-light, 90%)
  color $primary-dark
  padding .5em 1em
  margin -20px -35px 0 -35px
  text-align center
  font-size .85em
  margin-bottom 20px
  letter-spacing .03em
