$fonts = arial, helvetica, sans-serif
$primary-font = 'Lato'

$body-text = #333333
$tab-unselected = rgba(102, 102, 102, 1)

$primary = rgb(14, 152, 214)
$primary-light = lighten($primary, 20%)
$primary-dark = darken($primary, 20%)
$primary-transparent = alpha($primary, 85%)
$secondary = rgba(108, 190, 51, 1)
$active = lighten($secondary, 20%)
$whiteBG = alpha(#FFFFFF, 90%)

$border-gray = #DDDDDD

$ll-gray = rgba(245, 245, 245, 1)
$l-gray = rgba(235, 235, 235, 1)
$m-gray = rgba(204, 204, 204, 1)
$d-gray = rgba(150, 150, 150, 1)
$dd-gray = rgba(100, 100, 100, 1)

$sidebar-width = 350px
$sidebar-tabs-width = 60px
$sidebar-full-width = $sidebar-width + $sidebar-tabs-width
$data-table-width = 550px
$data-table-tabs-width = 60px
